# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
local_settings.py

# VSCode settings
.vscode/

# macOS
.DS_Store

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/